<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título Documento</title>
</head>
<body>
    <p>Editando arquivo para o clone01</p>
    <p>Editando arquivos para ogit_clone</p>
    <p>Agora Estou no criador do projeto</p>
    <p>Só pra fixar um pouco o conteúdo</p>
    <p>Alterando/Corringindo a nome da branch principal</p>
    <h1>Apenas uma tag H1</h1>
    <h1>Trabalhando na main</h1>
</body>
</html>